.home-footer {
    padding: 20px;

    background-color: #222;
    .foot-content {
        margin-bottom: 20px;
        .heading {
            padding-top: 10px;

            color: $white;
            .border-top {
                position: absolute;
                top: 0;
                left: 0;

                width: 20px;
                height: 2px;

                background-color: $yellow;
            }
        }
        ul {
            li {
                float: left;
                min-width: 50%;
                margin-bottom: 10px;
                a {
                    font-family: $blogger_R;

                    opacity: .7;
                    color: $white;

                    @include rem(font-size, 16px);
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .newsletter {
            position: relative;

            margin-bottom: 20px;
            input[type="text"] {
                font-family: $blogger_R;

                color: $white;
                border: none;
                border-radius: 0;
                background-color: #595959;

                @include rem(font-size, 16px);
            }
            .arrow {
                position: absolute;
                top: 7px;
                right: 10px;
                i {
                    color: $white;

                    @include rem(font-size, 20px);
                }
            }
        }
        .socials {
            display: table;
            margin-left: -12px;

            border-spacing: 12px;
            border-collapse: separate;
            & a {
                position: relative;

                display: table-cell;
                width: 30px;
                height: 30px;

                cursor: pointer;
                text-align: center;
                vertical-align: middle;

                color: $white;
                background: transparent;

                @include rem(font-size, 16px);
                @include transition(all .15s ease);
                &:hover {
                    border-radius: 50%;
                }
            }
            & a:nth-child(1) {
                color: $white;
                background: #3b5998;
            }
            & a:nth-child(1):hover {
                color: #3b5998;
                // border: 2px solid #3b5998;
                background: $white;
            }
            & a:nth-child(2) {
                color: $white;
                background: #00a0d1;
            }
            & a:nth-child(2):hover {
                color: #00a0d1;
                // border: 2px solid #00a0d1;
                background: $white;
            }
            & a:nth-child(3) {
                color: $white;
                background: #db4a39;
            }
            & a:nth-child(3):hover {
                color: #db4a39;
                // border: 2px solid #db4a39;
                background: $white;
            }
        }
        &.bottom {
            ul {
                padding: 20px 0 10px 0;

                border-top: 1px solid #555;
                li {
                    display: inline-block;
                    float: none;
                    min-width: 0;
                    margin-bottom: 0;

                    @include medmx(768px) {
                        margin-bottom: 10px;
                    }
                    a {
                        padding: 10px;
                    }
                }
            }
        }
    }
}
.copyrights {
    padding: 20px 15px;

    font-family: $blogger_R;

    color: $white;
    background-color: #000;

    @include rem(font-size, 14px);
}
