//Variables
$green: #009688;
$yellow: #ffc400;
$white: #fff;
$black: #333;
$dark-gray: #555;
$medium-gray: #777;
$body-bg-color: #f1f5f9;
$gray-sharp: #7e8287;
$fb-blue: #3b5998;
$google-red: #d34836;
$light-green: #27ae60;
