.login-modal {
    .modal-dialog {
        @include medmn(768px) {
            width: 460px;
        }
        .modal-content {
            overflow: hidden;

            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #fafafa;
            .modal-header {
                border-bottom: none;
                .modal-title {
                    font-family: $blogger_R;

                    text-align: center;

                    color: $green;

                    @include rem(font-size, 20px);
                }
            }
            .modal-body {
                padding: 20px 30px;
                padding-bottom: 0;
                .form-horizontal {
                    .control-group {
                        margin-bottom: 10px;
                        &:nth-last-of-type(2) {
                            margin-bottom: 20px;
                        }
                        .control-label {
                            margin-bottom: 5px;

                            font-family: $blogger_R;

                            color: $dark-gray;

                            @include rem(font-size, 16px);
                        }
                        .controls {
                            input {
                                height: 45px;

                                font-family: $blogger_R;

                                color: $dark-gray;

                                @include rem(font-size, 16px);
                                @include placeholder {
                                    color: $medium-gray;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                padding: 0;
                .not-member {
                    height: 80px;
                    padding: 20px 30px;

                    cursor: pointer;

                    background-color: #f1f5f9;
                }
                .social-btns {
                    display: table;
                    width: 100%;
                    height: 70px;
                    padding: 20px 30px;

                    cursor: pointer;

                    background-color: $fb-blue;
                    &:last-child {
                        background-color: $google-red;
                    }
                    span {
                        display: table-cell;

                        font-family: $blogger_R;

                        vertical-align: middle;

                        color: $white;

                        @include rem(font-size, 20px);
                        i {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    position: absolute;
    bottom: auto;

    overflow-y: hidden;
    &.summary-modal {
        background-color: #fff;
    }
}


/* FULL SCREEN MODAL STYLES
    -------------------------------------------------- */
.fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 0 0 0;

    color: #333;
}

.fullscreen .modal-content {
    height: 100%;
    min-height: 100%;

    color: #333;
    border-radius: 0;
    background: rgba(255, 255, 255, .97);
}

.fullscreen .modal-body ul {
    padding: 100px 0 0 0;
    overflow: auto;
}

.fullscreen .modal-body li {
    padding: 10px 0 10px 0 ;
}

.fullscreen .modal-body a {
    font-size: 300%;

    color: #333;
}

@media (max-width: 480px) {
    .fullscreen .modal-body ul {
        padding: 30px 0 0 0;
        overflow: auto;
    }

    .fullscreen .modal-body li {
        padding: 0 0 10px 0 ;
    }

    .fullscreen .modal-body a {
        // font-size: 200%;
        // font-weight: 700;
        text-transform: uppercase;

        color: #333;
    }
}

.fullscreen {
    position: absolute;
    bottom: auto;

    overflow-y: hidden;
    &.in ~ .modal-backdrop.in {
        opacity: .8;
        background-color: rgb(0,0,0);
    }
    .modal-dialog {
        width: 430px;
        margin: 0;

        border: none;

        @include medmx(768px) {
            width: 80%;
        }
        .modal-content {
            border: none;
            background: transparent;
            box-shadow: none;
            .modal-header {
                border: none;
            }
            .modal-body {
                border: none;
                background-color: transparent;
                ul {
                    padding-top: 20px;
                    padding-left: 100px;

                    @include medmx(768px) {
                        padding-left: 0;
                    }
                    li {
                        padding-top: 0;

                        text-align: left;
                        a {
                            font-family: $blogger_R;

                            text-transform: capitalize;

                            color: $white;

                            @include rem(font-size, 32px);
                            &:hover {
                                opacity: .9;
                            }
                        }
                        ul {
                            display: none;
                            padding-top: 0;
                            padding-left: 20px;
                            margin-top: 20px;

                            border-left: 3px solid $white;
                            li {
                                a {
                                    @include rem(font-size, 16px);
                                }
                            }
                        }
                        &.active {
                            ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
