* {
    box-sizing: border-box;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    // float: left;
    // width: 100%;
    // padding: 10px 0;

    margin-top: 20px;
    // margin-bottom: 10px;

    input[type="text"] {
        display: block;
        width: 100%;
        min-width: 226px;
        padding: 10px 10px 10px 0;
        // margin-left: 15px;

        font-family: $blogger_R;

        color: #555;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: transparent;

        @include rem(font-size, 16px);
    }
    input[type="text"]:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        position: absolute;
        top: 10px;
        // padding-left: 15px;
        // left: 15px;

        font-family: $blogger_R;
        font-weight: normal;

        -webkit-transition: .2s ease all;
           -moz-transition: .2s ease all;
                transition: .2s ease all;
        pointer-events: none;

        color: #555;

        @include rem(font-size, 16px);
    }

    /* active state */
    input[type="text"]:focus ~ label,
    input[type="text"]:valid ~ label {
        top: -20px;

        font-size: 14px;

        color: #5264ae;
        &.pink {
            color: #e91e63;
        }
        &.yellow {
            color: #ffc107;
        }
    }

    .active-input {
        top: -20px;

        color: $green;
    }

    input[type="text"]:focus ~ .active-input,
    input[type="text"]:valid ~ .active-input {
        font-size: 16px;

        color: $green;
    }
    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;

        display: block;
        width: auto;
        min-width: 226px;
        margin-top: 2px;
    }
    .bar:before,
    .bar:after {
        position: absolute;
        bottom: 1px;

        width: 0;
        height: 2px;

        content: "";
        -webkit-transition: .2s ease all;
           -moz-transition: .2s ease all;
                transition: .2s ease all;

        background: $green;
    }
    .bar.pink-bg:before,
    .bar.pink-bg:after {
        background: #e91e63;
    }
    .bar.yellow-bg:before,
    .bar.yellow-bg:after {
        background: $green;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }

    /* active state */
    input[type="text"]:focus ~ .bar:before,
    input[type="text"]:focus ~ .bar:after {
        width: 50%;
    }




    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        top: 25%;
        left: 0;

        width: 100px;
        height: 60%;

        pointer-events: none;

        opacity: .5;
    }

    /* active state */
    input[type="text"]:focus ~ .highlight {
        -webkit-animation: inputHighlighter .3s ease;
           -moz-animation: inputHighlighter .3s ease;
                animation: inputHighlighter .3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264ae;
        }
        to {
            width: 0;

            background: transparent;
        }
    }
    @-moz-keyframes inputHighlighter {
        from {
            background: #5264ae;
        }
        to {
            width: 0;

            background: transparent;
        }
    }
    @keyframes inputHighlighter {
        from {
            background: #5264ae;
        }
        to {
            width: 0;

            background: transparent;
        }
    }
}

// overwritten 
.group {
    .info-gp {
        padding: 0 10px;
        input[type="text"],
        .bar {
            min-width: 100%;
            margin-left: 0;
        }
    }
    // .bar {
    //     &.pink-bg:before {
    //         background: #e91e63;
    //     }
    //     &.yellow-bg:after {
    //         background: #ffc107;
    //     }
    // }
}
