html,
body {
    // font-family: $proxima-nova;
    font-size: 62.5%; // 10px
    @media (max-width:767px) {
        font-size: 50%;
    }
}

@font-face {
    font-family: Barkentina;

    src: url("../../fonts/BARKENTINA.otf");
}
@font-face {
    font-family: gothamNBook;

    src: url("../../fonts/GOTHAMNARROW-BOOK.otf");
}
@font-face {
    font-family: gothamNLight;

    src: url("../../fonts/GOTHAMNARROW-LIGHT.otf");
}
@font-face {
    font-family: gothamNMedium;

    src: url("../../fonts/GOTHAMNARROW-MEDIUM.otf");
}
@font-face {
    font-family: playfairdisplayR;

    src: url("../../fonts/PLAYFAIRDISPLAY-REGULAR.ttf");
}



@font-face {
    font-family: "blogger_sansregular";
    font-style: normal;
    font-weight: normal;

    src: url("../../fonts/blogger_sans-webfont.eot");
    src: url("../../fonts/blogger_sans-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/blogger_sans-webfont.woff2") format("woff2"),
    url("../../fonts/blogger_sans-webfont.woff") format("woff"),
    url("../../fonts/blogger_sans-webfont.ttf") format("truetype"),
    url("../../fonts/blogger_sans-webfont.svg#blogger_sansregular") format("svg");
}





@font-face {
    font-family: "blogger_sansbold";
    font-style: normal;
    font-weight: normal;

    src: url("../../fonts/blogger_sans-bold-webfont.eot");
    src: url("../../fonts/blogger_sans-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/blogger_sans-bold-webfont.woff2") format("woff2"),
    url("../../fonts/blogger_sans-bold-webfont.woff") format("woff"),
    url("../../fonts/blogger_sans-bold-webfont.ttf") format("truetype"),
    url("../../fonts/blogger_sans-bold-webfont.svg#blogger_sansbold") format("svg");
}





@font-face {
    font-family: "blogger_sanslight";
    font-style: normal;
    font-weight: normal;

    src: url("../../fonts/blogger_sans-light-webfont.eot");
    src: url("../../fonts/blogger_sans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/blogger_sans-light-webfont.woff2") format("woff2"),
    url("../../fonts/blogger_sans-light-webfont.woff") format("woff"),
    url("../../fonts/blogger_sans-light-webfont.ttf") format("truetype"),
    url("../../fonts/blogger_sans-light-webfont.svg#blogger_sanslight") format("svg");
}





@font-face {
    font-family: "blogger_sansmedium";
    font-style: normal;
    font-weight: normal;

    src: url("../../fonts/blogger_sans-medium-webfont.eot");
    src: url("../../fonts/blogger_sans-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/blogger_sans-medium-webfont.woff2") format("woff2"),
    url("../../fonts/blogger_sans-medium-webfont.woff") format("woff"),
    url("../../fonts/blogger_sans-medium-webfont.ttf") format("truetype"),
    url("../../fonts/blogger_sans-medium-webfont.svg#blogger_sansmedium") format("svg");
}


@font-face {
    font-family: "bebas_neueregular";
    font-style: normal;
    font-weight: normal;

    src: url("../../fonts/bebasneue-webfont.eot");
    src: url("../../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/bebasneue-webfont.woff2") format("woff2"),
    url("../../fonts/bebasneue-webfont.woff") format("woff"),
    url("../../fonts/bebasneue-webfont.ttf") format("truetype"),
    url("../../fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
}

// varibles

$blogger_R: "blogger_sansregular";
$blogger_M: "blogger_sansmedium";
$blogger_L: "blogger_sanslight";
$blogger_B: "blogger_sansbold";
$bebasneue_R: "bebas_neueregular";
