@charset "UTF-8";
/* line 5, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/partial/_typography.scss */
html,
body {
  font-size: 62.5%;
}
@media (max-width: 767px) {
  /* line 1, ../../sass/partial/_typography.scss */
  html,
  body {
    font-size: 50%;
  }
}

@font-face {
  font-family: Barkentina;
  src: url("../../fonts/BARKENTINA.otf");
}
@font-face {
  font-family: gothamNBook;
  src: url("../../fonts/GOTHAMNARROW-BOOK.otf");
}
@font-face {
  font-family: gothamNLight;
  src: url("../../fonts/GOTHAMNARROW-LIGHT.otf");
}
@font-face {
  font-family: gothamNMedium;
  src: url("../../fonts/GOTHAMNARROW-MEDIUM.otf");
}
@font-face {
  font-family: playfairdisplayR;
  src: url("../../fonts/PLAYFAIRDISPLAY-REGULAR.ttf");
}
@font-face {
  font-family: "brandon_grotesqueRgIt";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/brandon_reg_it-webfont.eot");
  src: url("../../fonts/brandon_reg_it-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon_reg_it-webfont.woff2") format("woff2"), url("../../fonts/brandon_reg_it-webfont.woff") format("woff"), url("../../fonts/brandon_reg_it-webfont.ttf") format("truetype"), url("../../fonts/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt") format("svg");
}
@font-face {
  font-family: "blogger_sansregular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/blogger_sans-webfont.eot");
  src: url("../../fonts/blogger_sans-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/blogger_sans-webfont.woff2") format("woff2"), url("../../fonts/blogger_sans-webfont.woff") format("woff"), url("../../fonts/blogger_sans-webfont.ttf") format("truetype"), url("../../fonts/blogger_sans-webfont.svg#blogger_sansregular") format("svg");
}
@font-face {
  font-family: "blogger_sansbold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/blogger_sans-bold-webfont.eot");
  src: url("../../fonts/blogger_sans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/blogger_sans-bold-webfont.woff2") format("woff2"), url("../../fonts/blogger_sans-bold-webfont.woff") format("woff"), url("../../fonts/blogger_sans-bold-webfont.ttf") format("truetype"), url("../../fonts/blogger_sans-bold-webfont.svg#blogger_sansbold") format("svg");
}
@font-face {
  font-family: "blogger_sanslight";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/blogger_sans-light-webfont.eot");
  src: url("../../fonts/blogger_sans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/blogger_sans-light-webfont.woff2") format("woff2"), url("../../fonts/blogger_sans-light-webfont.woff") format("woff"), url("../../fonts/blogger_sans-light-webfont.ttf") format("truetype"), url("../../fonts/blogger_sans-light-webfont.svg#blogger_sanslight") format("svg");
}
@font-face {
  font-family: "blogger_sansmedium";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/blogger_sans-medium-webfont.eot");
  src: url("../../fonts/blogger_sans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/blogger_sans-medium-webfont.woff2") format("woff2"), url("../../fonts/blogger_sans-medium-webfont.woff") format("woff"), url("../../fonts/blogger_sans-medium-webfont.ttf") format("truetype"), url("../../fonts/blogger_sans-medium-webfont.svg#blogger_sansmedium") format("svg");
}
@font-face {
  font-family: "bebas_neueregular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/bebasneue-webfont.eot");
  src: url("../../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bebasneue-webfont.woff2") format("woff2"), url("../../fonts/bebasneue-webfont.woff") format("woff"), url("../../fonts/bebasneue-webfont.ttf") format("truetype"), url("../../fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
}
@media screen and (max-width: 768px) {
  /* line 5, ../../sass/partial/_navigation.scss */
  .side-collapse-container {
    position: relative;
    left: 0;
    width: 100%;
    transition: left .4s;
  }
  /* line 12, ../../sass/partial/_navigation.scss */
  .side-collapse-container .hamburger {
    display: none !important;
  }
  /* line 16, ../../sass/partial/_navigation.scss */
  .side-collapse-container .overlay.after-slide {
    display: none;
  }

  /* line 21, ../../sass/partial/_navigation.scss */
  .side-collapse-container.out {
    left: 80%;
  }
  /* line 23, ../../sass/partial/_navigation.scss */
  .side-collapse-container.out .hamburger {
    top: -45px;
    left: 15px;
    display: block !important;
  }
  /* line 30, ../../sass/partial/_navigation.scss */
  .side-collapse-container.out .overlay.after-slide {
    z-index: 1;
    display: block;
  }

  /* line 37, ../../sass/partial/_navigation.scss */
  .side-collapse {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 80%;
    overflow: hidden;
    transition: width .4s;
  }

  /* line 48, ../../sass/partial/_navigation.scss */
  .side-collapse.in {
    width: 0;
  }
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/* line 57, ../../sass/partial/_navigation.scss */
.hamburger {
  top: -8px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  border: none;
  background: transparent;
}

/* line 70, ../../sass/partial/_navigation.scss */
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}

/* line 75, ../../sass/partial/_navigation.scss */
.hamburger.is-closed:before {
  display: block;
  width: 100px;
  font-size: 14px;
  line-height: 32px;
  content: "";
  -webkit-transition: all .35s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 0;
  color: #fff;
}

/* line 90, ../../sass/partial/_navigation.scss */
.hamburger.is-closed:hover:before {
  display: block;
  -webkit-transition: all .35s ease-in-out;
  -webkit-transform: translate3d(-100px, 0, 0);
  opacity: 1;
}

/* line 99, ../../sass/partial/_navigation.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
}

/* line 111, ../../sass/partial/_navigation.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}

/* line 116, ../../sass/partial/_navigation.scss */
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 121, ../../sass/partial/_navigation.scss */
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

/* line 126, ../../sass/partial/_navigation.scss */
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 132, ../../sass/partial/_navigation.scss */
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}

/* line 137, ../../sass/partial/_navigation.scss */
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}

/* line 142, ../../sass/partial/_navigation.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}

/* line 147, ../../sass/partial/_navigation.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

/* line 153, ../../sass/partial/_navigation.scss */
.hamburger.is-open .hamb-top {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  -webkit-transform: rotate(45deg);
}

/* line 157, ../../sass/partial/_navigation.scss */
.hamburger.is-open .hamb-middle {
  display: none;
}

/* line 160, ../../sass/partial/_navigation.scss */
.hamburger.is-open .hamb-bottom {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  -webkit-transform: rotate(-45deg);
}

/* line 164, ../../sass/partial/_navigation.scss */
.hamburger.is-open:before {
  display: block;
  width: 100px;
  font-size: 14px;
  line-height: 32px;
  content: "";
  -webkit-transition: all .35s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 0;
  color: #fff;
}

/* line 179, ../../sass/partial/_navigation.scss */
.hamburger.is-open:hover:before {
  display: block;
  -webkit-transition: all .35s ease-in-out;
  -webkit-transform: translate3d(-100px, 0, 0);
  opacity: 1;
}

/* line 190, ../../sass/partial/_navigation.scss */
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #009688;
}
/* line 201, ../../sass/partial/_navigation.scss */
.header .logo-div {
  padding: 20px 15px;
}
@media all and (max-width: 768px) {
  /* line 201, ../../sass/partial/_navigation.scss */
  .header .logo-div {
    padding: 20px 0;
  }
}
/* line 207, ../../sass/partial/_navigation.scss */
.header .logo-div .hamburger.is-open {
  display: none;
}
/* line 211, ../../sass/partial/_navigation.scss */
.header .navbar-inverse {
  border: none;
  background-color: transparent;
}
@media all and (max-width: 768px) {
  /* line 214, ../../sass/partial/_navigation.scss */
  .header .navbar-inverse .side-collapse {
    top: 0;
    left: 0;
    background-color: #fff;
  }
}
/* line 223, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse {
  border: none;
}
/* line 225, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav {
  background-color: transparent;
}
/* line 228, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li a {
  padding: 20px 15px;
  font-family: "blogger_sansregular";
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
}
@media all and (max-width: 768px) {
  /* line 228, ../../sass/partial/_navigation.scss */
  .header .navbar-inverse .navbar-collapse .navbar-nav li a {
    color: #777;
  }
}
/* line 239, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li a .icon {
  margin-right: 10px;
}
/* line 244, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button {
  padding: 20px 15px;
  color: #fff;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-size: 1.6rem;
}
@media all and (max-width: 768px) {
  /* line 244, ../../sass/partial/_navigation.scss */
  .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button {
    color: #777;
  }
}
/* line 255, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:hover, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:focus, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:active {
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
@media all and (max-width: 768px) {
  /* line 255, ../../sass/partial/_navigation.scss */
  .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:hover, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:focus, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button:active {
    color: #777;
  }
}
/* line 269, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select button .caret {
  margin-left: 10px;
}
/* line 273, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu {
  top: 60px;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
/* line 281, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu li a {
  font-family: "blogger_sansregular";
  color: #777;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 287, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu li a:hover, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu li a:focus, .header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu li a:active {
  color: #fff;
}
/* line 294, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-collapse .navbar-nav li .dropdown-select .dropdown-menu li.active a {
  color: #fff;
}
/* line 305, ../../sass/partial/_navigation.scss */
.header .navbar-inverse .navbar-toggle:hover,
.header .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

/* line 1, ../../sass/partial/_helperclasses.scss */
a {
  text-decoration: none;
  color: #777;
}
/* line 5, ../../sass/partial/_helperclasses.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 12, ../../sass/partial/_helperclasses.scss */
.W100 {
  width: 100%;
}

/* line 18, ../../sass/partial/_helperclasses.scss */
.PD0 {
  padding: 0;
}

/* line 21, ../../sass/partial/_helperclasses.scss */
.PD0-imp {
  padding: 0 !important;
}

/* line 24, ../../sass/partial/_helperclasses.scss */
.PR0 {
  padding-right: 0;
}

/* line 27, ../../sass/partial/_helperclasses.scss */
.PT40 {
  padding-top: 40px;
}

/* line 30, ../../sass/partial/_helperclasses.scss */
.PLR15 {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 35, ../../sass/partial/_helperclasses.scss */
.heading-h1 {
  margin-bottom: 15px;
  font-family: "blogger_sansmedium";
  color: #009688;
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 44, ../../sass/partial/_helperclasses.scss */
.heading-h2 {
  margin-bottom: 15px;
  font-family: "blogger_sanslight";
  color: #777;
  font-size: 20px;
  font-size: 2rem;
}

/* line 53, ../../sass/partial/_helperclasses.scss */
.helper-text {
  position: relative;
  margin-bottom: 15px;
  font-family: "blogger_sanslight";
  color: #777;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 63, ../../sass/partial/_helperclasses.scss */
.helper-text .border-bottom {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #ffc400;
}

/* line 76, ../../sass/partial/_helperclasses.scss */
.gradient-white {
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 251, 0));
}

/* line 79, ../../sass/partial/_helperclasses.scss */
.linearBg {
  opacity: .3;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#009688), to(#ffc400));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ffc400, #009688);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #ffc400, #009688);
  /* IE 10 */
  background: -ms-linear-gradient(left, #ffc400, #009688);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #ffc400, #009688);
  /* fallback */
}

/* line 99, ../../sass/partial/_helperclasses.scss */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 110, ../../sass/partial/_helperclasses.scss */
.blur {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -ms-filter: blur(15px);
  -o-filter: blur(15px);
  filter: blur(15px);
  filter: blur(15px);
  filter: progid:dximagetransform.Microsoft.Blur(PixelRadius="15");
}

/* line 125, ../../sass/partial/_helperclasses.scss */
svg {
  fill: currentColor;
}

/* line 131, ../../sass/partial/_helperclasses.scss */
.f-cl-gray {
  color: #777;
}

/* line 134, ../../sass/partial/_helperclasses.scss */
.f-cl-gray-sharp {
  color: #7e8287;
}

/* line 137, ../../sass/partial/_helperclasses.scss */
.f-cl-green {
  color: #009688;
}

/* line 140, ../../sass/partial/_helperclasses.scss */
.f-cl-white {
  color: #fff;
}

/* line 144, ../../sass/partial/_helperclasses.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 148, ../../sass/partial/_helperclasses.scss */
.f-14 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 151, ../../sass/partial/_helperclasses.scss */
.f-16 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 155, ../../sass/partial/_helperclasses.scss */
.gray-bg {
  background-color: #f1f5f9;
}

/* line 159, ../../sass/partial/_helperclasses.scss */
.white-bg-imp {
  background-color: #fff !important;
}

/* line 163, ../../sass/partial/_helperclasses.scss */
.transparent-bg-imp {
  background-color: transparent !important;
}

/* line 168, ../../sass/partial/_helperclasses.scss */
.H-auto {
  height: auto !important;
}

/* line 172, ../../sass/partial/_helperclasses.scss */
.o-flow-H {
  overflow: hidden;
}

/* line 176, ../../sass/partial/_helperclasses.scss */
.MB0 {
  margin-bottom: 0;
}

/* line 179, ../../sass/partial/_helperclasses.scss */
.MB0-imp {
  margin-bottom: 0 !important;
}

/* line 182, ../../sass/partial/_helperclasses.scss */
.MB5 {
  margin-bottom: 5px;
}

/* line 185, ../../sass/partial/_helperclasses.scss */
.MB10 {
  margin-bottom: 10px;
}

/* line 188, ../../sass/partial/_helperclasses.scss */
.MB20 {
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  /* line 192, ../../sass/partial/_helperclasses.scss */
  .MB-sm-0 {
    margin-bottom: 0 !important;
  }
}
/* line 1, ../../sass/partial/_material-input.scss */
* {
  box-sizing: border-box;
}

/* form starting stylings ------------------------------- */
/* line 6, ../../sass/partial/_material-input.scss */
.group {
  position: relative;
  margin-top: 20px;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
/* line 15, ../../sass/partial/_material-input.scss */
.group input[type="text"] {
  display: block;
  width: 100%;
  min-width: 226px;
  padding: 10px 10px 10px 5px;
  font-family: "blogger_sansregular";
  color: #555;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 31, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus {
  outline: none;
}
/* line 36, ../../sass/partial/_material-input.scss */
.group label {
  position: absolute;
  top: 10px;
  font-family: "blogger_sansregular";
  font-weight: normal;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  transition: .2s ease all;
  pointer-events: none;
  color: #555;
  color: #999;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 56, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ label,
.group input[type="text"]:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}
/* line 63, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ label.pink,
.group input[type="text"]:valid ~ label.pink {
  color: #e91e63;
}
/* line 66, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ label.yellow,
.group input[type="text"]:valid ~ label.yellow {
  color: #ffc107;
}
/* line 71, ../../sass/partial/_material-input.scss */
.group .active-input {
  top: -20px;
  color: #009688;
}
/* line 77, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ .active-input,
.group input[type="text"]:valid ~ .active-input {
  font-size: 16px;
  color: #009688;
}
/* line 84, ../../sass/partial/_material-input.scss */
.group .bar {
  position: relative;
  display: block;
  width: auto;
  min-width: 226px;
  margin-top: 2px;
}
/* line 92, ../../sass/partial/_material-input.scss */
.group .bar:before,
.group .bar:after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  transition: .2s ease all;
  background: #009688;
}
/* line 107, ../../sass/partial/_material-input.scss */
.group .bar.pink-bg:before,
.group .bar.pink-bg:after {
  background: #e91e63;
}
/* line 111, ../../sass/partial/_material-input.scss */
.group .bar.yellow-bg:before,
.group .bar.yellow-bg:after {
  background: #009688;
}
/* line 115, ../../sass/partial/_material-input.scss */
.group .bar:before {
  left: 50%;
}
/* line 118, ../../sass/partial/_material-input.scss */
.group .bar:after {
  right: 50%;
}
/* line 123, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ .bar:before,
.group input[type="text"]:focus ~ .bar:after {
  width: 50%;
}
/* line 132, ../../sass/partial/_material-input.scss */
.group .highlight {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100px;
  height: 60%;
  pointer-events: none;
  opacity: .5;
}
/* line 146, ../../sass/partial/_material-input.scss */
.group input[type="text"]:focus ~ .highlight {
  -webkit-animation: inputHighlighter .3s ease;
  -moz-animation: inputHighlighter .3s ease;
  animation: inputHighlighter .3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* line 187, ../../sass/partial/_material-input.scss */
.group .info-gp {
  padding: 0 10px;
}
/* line 189, ../../sass/partial/_material-input.scss */
.group .info-gp input[type="text"],
.group .info-gp .bar {
  min-width: 100%;
  margin-left: 0;
}

/* line 2, ../../sass/partial/_ui-elem.scss */
.checkbox {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  margin-top: 0;
}
/* line 8, ../../sass/partial/_ui-elem.scss */
.checkbox input[type="checkbox"] {
  display: none;
}
/* line 11, ../../sass/partial/_ui-elem.scss */
.checkbox .check-label {
  position: relative;
  display: inline-block;
  width: 140px;
  min-height: 100px;
  padding: 10px;
  font-family: "blogger_sanslight";
  text-align: center;
  vertical-align: middle;
  color: #777;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 29, ../../sass/partial/_ui-elem.scss */
.checkbox .check-label .check {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
/* line 36, ../../sass/partial/_ui-elem.scss */
.checkbox .check-label .icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../../images/housing_images/maple_leaf.png");
}
/* line 45, ../../sass/partial/_ui-elem.scss */
.checkbox input[type="checkbox"]:checked + label {
  color: #009688;
  border-color: #ffc400;
}
/* line 48, ../../sass/partial/_ui-elem.scss */
.checkbox input[type="checkbox"]:checked + label .check {
  display: block;
}

/* ***********************************************************************************/
/* Custom checkbox buttons*/
/* ***********************************************************************************/
/* line 59, ../../sass/partial/_ui-elem.scss */
.checkbox-small {
  position: relative;
  margin-top: 0 !important;
}
/* line 63, ../../sass/partial/_ui-elem.scss */
.checkbox-small label.sm-label {
  position: relative;
  font-family: "blogger_sansregular";
  border: 5px solid transparent;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 71, ../../sass/partial/_ui-elem.scss */
.checkbox-small label.sm-label .custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: text-top;
  opacity: .5;
  color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  -o-border-radius: 4px;
}
/* line 90, ../../sass/partial/_ui-elem.scss */
.checkbox-small label.sm-label .custom-checkbox .highlight {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 94, ../../sass/partial/_ui-elem.scss */
.checkbox-small label.sm-label .custom-checkbox i {
  display: none;
  vertical-align: initial;
}
/* line 101, ../../sass/partial/_ui-elem.scss */
.checkbox-small input[type=checkbox].sm-input {
  display: none;
}
/* line 105, ../../sass/partial/_ui-elem.scss */
.checkbox-small input[type=checkbox].sm-input:checked + label .custom-checkbox {
  text-align: center;
  opacity: 1;
  background-color: #009688;
}
/* line 110, ../../sass/partial/_ui-elem.scss */
.checkbox-small input[type=checkbox].sm-input:checked + label .custom-checkbox i {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 121, ../../sass/partial/_ui-elem.scss */
.dropdown-select button {
  width: 100%;
  font-family: "blogger_sanslight";
  text-align: left;
  color: #777;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 131, ../../sass/partial/_ui-elem.scss */
.dropdown-select button:hover, .dropdown-select button:focus {
  background-color: #fff;
}
/* line 135, ../../sass/partial/_ui-elem.scss */
.dropdown-select button .caret {
  width: 14px;
  height: 14px;
  border: none;
}
/* line 140, ../../sass/partial/_ui-elem.scss */
.dropdown-select button .caret i {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 145, ../../sass/partial/_ui-elem.scss */
.dropdown-select .dropdown-menu {
  width: 100%;
}
/* line 148, ../../sass/partial/_ui-elem.scss */
.dropdown-select .dropdown-menu li a {
  font-family: "blogger_sanslight";
  color: #777;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 154, ../../sass/partial/_ui-elem.scss */
.dropdown-select .dropdown-menu li a:hover {
  color: #fff;
  background-color: #009688;
}
/* line 160, ../../sass/partial/_ui-elem.scss */
.dropdown-select .dropdown-menu li.active a {
  color: #fff;
  background-color: #009688;
}

/* line 172, ../../sass/partial/_ui-elem.scss */
.tabs-row {
  padding: 15px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 179, ../../sass/partial/_ui-elem.scss */
.tabs-row .tabs {
  width: 1500px;
}
/* line 181, ../../sass/partial/_ui-elem.scss */
.tabs-row .tabs li {
  display: inline-block;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
}
/* line 187, ../../sass/partial/_ui-elem.scss */
.tabs-row .tabs li a {
  height: 40px;
  padding: 10px 0;
  padding-bottom: 3px;
  margin-right: 10px;
  font-family: "blogger_sansregular";
  color: #555;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 24px;
  line-height: 2.4rem;
}
/* line 201, ../../sass/partial/_ui-elem.scss */
.tabs-row .tabs li:hover a, .tabs-row .tabs li:focus a, .tabs-row .tabs li:active a, .tabs-row .tabs li.active a {
  color: #009688;
  border-bottom: 2px solid #009688;
}

/* line 218, ../../sass/partial/_ui-elem.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-top: 20px solid #f00;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

/* line 228, ../../sass/partial/_ui-elem.scss */
.yellow-btn {
  height: 40px;
  min-width: 170px;
  margin-bottom: 10px;
  font-family: "blogger_sansmedium";
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
  border: none;
  background-color: #ffc400;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 247, ../../sass/partial/_ui-elem.scss */
.green-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-family: "blogger_sansmedium";
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
  border: none;
  background-color: #009688;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 267, ../../sass/partial/_ui-elem.scss */
.heading {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "blogger_sanslight";
  color: #777;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 278, ../../sass/partial/_ui-elem.scss */
.heading .border-inner-bottom {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 90%;
  height: 3px;
  margin: 0 auto;
  background-color: #009688;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* start of modification for 5 columns */
@media all and (min-width: 768px) {
  /* line 2, ../../sass/partial/_login.scss */
  .login-modal .modal-dialog {
    width: 460px;
  }
}
/* line 6, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content {
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fafafa;
}
/* line 12, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
/* line 14, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: "blogger_sansregular";
  text-align: center;
  color: #009688;
  font-size: 20px;
  font-size: 2rem;
}
/* line 24, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-body {
  padding: 20px 30px;
  padding-bottom: 0;
}
/* line 28, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group {
  margin-bottom: 10px;
}
/* line 30, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group:nth-last-of-type(2) {
  margin-bottom: 20px;
}
/* line 33, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .control-label {
  margin-bottom: 5px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 43, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .controls input {
  height: 45px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 60, ../../sass/partial/_mixins.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .controls input::-webkit-input-placeholder {
  color: #777;
}
/* line 60, ../../sass/partial/_mixins.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .controls input:-moz-placeholder {
  color: #777;
}
/* line 60, ../../sass/partial/_mixins.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .controls input::-moz-placeholder {
  color: #777;
}
/* line 60, ../../sass/partial/_mixins.scss */
.login-modal .modal-dialog .modal-content .modal-body .form-horizontal .control-group .controls input:-ms-input-placeholder {
  color: #777;
}
/* line 59, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
}
/* line 61, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer .not-member {
  height: 70px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #f1f5f9;
}
/* line 69, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer .social-btns {
  display: table;
  width: 100%;
  height: 70px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #3b5998;
}
/* line 78, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer .social-btns:last-child {
  background-color: #d34836;
}
/* line 81, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer .social-btns span {
  display: table-cell;
  font-family: "blogger_sansregular";
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
}
/* line 91, ../../sass/partial/_login.scss */
.login-modal .modal-dialog .modal-content .modal-footer .social-btns span i {
  vertical-align: middle;
}

/* line 13, ../../sass/partial/_testimonials.scss */
.work-process.testimonials {
  height: auto;
}

/* line 19, ../../sass/partial/_testimonials.scss */
.carousel-reviews {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
/* line 25, ../../sass/partial/_testimonials.scss */
.carousel-reviews .carousel-inner .owl-item {
  padding: 0 10px;
}

/* line 31, ../../sass/partial/_testimonials.scss */
.block-text {
  padding: 15px 18px;
  margin-top: 27px;
  font-size: 14px;
  color: #626262;
  border-radius: 5px;
  background-color: #f1f5f9;
  box-shadow: 0 3px 0 #2c2222;
}

/* line 42, ../../sass/partial/_testimonials.scss */
.block-text a {
  font-size: 25px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  color: #7d4702;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 57, ../../sass/partial/_testimonials.scss */
.block-text p {
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
  color: #585858;
}

/* line 71, ../../sass/partial/_testimonials.scss */
.block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}

/* line 79, ../../sass/partial/_testimonials.scss */
.block {
  display: block;
}

/* line 82, ../../sass/partial/_testimonials.scss */
.zmin {
  z-index: 1;
}

/* line 85, ../../sass/partial/_testimonials.scss */
.ab {
  position: absolute;
}

/* line 89, ../../sass/partial/_testimonials.scss */
.person-text {
  z-index: 2;
  padding: 10px 0 0;
  text-align: center;
}

/* line 96, ../../sass/partial/_testimonials.scss */
.person-text a {
  display: block;
  margin-top: 3px;
  font-size: 14px;
  text-decoration: underline;
  color: #fc0;
}

/* line 106, ../../sass/partial/_testimonials.scss */
.person-text i {
  font-family: Georgia;
  font-size: 13px;
  color: #fff;
}

/* line 112, ../../sass/partial/_testimonials.scss */
.rel {
  position: relative;
}

/* line 1, ../../sass/footer.scss */
.footer-wrap {
  padding: 15px;
  border-top: 1px solid #ccc;
}
/* line 5, ../../sass/footer.scss */
.footer-wrap ul {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
/* line 9, ../../sass/footer.scss */
.footer-wrap ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
/* line 13, ../../sass/footer.scss */
.footer-wrap ul li a {
  padding-right: 15px;
  padding-left: 15px;
  font-family: "blogger_sansregular";
  color: #777;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 22, ../../sass/footer.scss */
.footer-wrap ul li a:first-child {
  padding-left: 0;
}
/* line 28, ../../sass/footer.scss */
.footer-wrap .reserve-rights {
  font-family: "blogger_sansregular";
  color: #999;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 6, ../sass/home.scss */
.content-wrapper {
  padding: 15px;
}
/* line 8, ../sass/home.scss */
.content-wrapper .label-title {
  margin-top: 8px;
  font-family: "blogger_sansregular";
  opacity: .3;
  color: #555;
  font-size: 48px;
  font-size: 4.8rem;
}
/* line 19, ../sass/home.scss */
.content-wrapper .about-us-content p {
  margin-bottom: 20px;
  font-family: "blogger_sansregular";
  color: #555;
  line-height: 24px;
  line-height: 2.4rem;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 29, ../sass/home.scss */
.content-wrapper .about-us-content ul {
  padding-left: 15px;
  margin-bottom: 20px;
}
/* line 32, ../sass/home.scss */
.content-wrapper .about-us-content ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
}
/* line 44, ../sass/home.scss */
.content-wrapper .about-us-content ul li span {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 10px;
}

/* line 57, ../sass/home.scss */
.about-tabs {
  border-top: 1px solid #ccc;
}
/* line 59, ../sass/home.scss */
.about-tabs .tabs-scroll {
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 66, ../sass/home.scss */
.about-tabs .tabs-scroll .nav-tabs {
  width: 1500px;
  border: transparent;
}
/* line 71, ../sass/home.scss */
.about-tabs .tabs-scroll .nav-tabs li a {
  font-family: "blogger_sansregular";
  color: #555;
  border: transparent;
  border-top: 3px solid transparent;
  font-size: 20px;
  font-size: 2rem;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 85, ../sass/home.scss */
.about-tabs .tabs-scroll .nav-tabs li:hover a, .about-tabs .tabs-scroll .nav-tabs li:focus a, .about-tabs .tabs-scroll .nav-tabs li:active a {
  color: #009688;
  border: transparent;
  border-top: 3px solid #009688;
  border-radius: 0;
  outline: none;
  background-color: transparent;
}
/* line 97, ../sass/home.scss */
.about-tabs .tabs-scroll .nav-tabs li.active a {
  color: #009688;
  border: transparent;
  border-top: 3px solid #009688;
  border-radius: 0;
  background-color: transparent;
}
/* line 110, ../sass/home.scss */
.about-tabs .tab-content .tab-banner {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  background-image: url(../../images/home_images/tabs_banner.jpg);
  background-position-y: center;
}
/* line 118, ../sass/home.scss */
.about-tabs .tab-content .tab-banner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 127, ../sass/home.scss */
.about-tabs .tab-content .tab-banner .title {
  position: absolute;
  top: 50%;
  width: 100%;
  font-family: "blogger_sansregular";
  text-align: center;
  color: #fff;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 141, ../sass/home.scss */
.about-tabs .tab-content .tab-banner .title img {
  margin-bottom: 10px;
}
/* line 146, ../sass/home.scss */
.about-tabs .tab-content p {
  margin-bottom: 20px;
  font-family: "blogger_sansregular";
  color: #555;
  line-height: 24px;
  line-height: 2.4rem;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 161, ../sass/home.scss */
.responsive-tabs {
  position: relative;
  z-index: 0;
  padding-top: 10px;
  border: none !important;
  box-shadow: none !important;
}
@media all and (min-width: 768px) {
  /* line 169, ../sass/home.scss */
  .responsive-tabs > .content {
    clear: none !important;
  }
}
/* line 175, ../sass/home.scss */
.responsive-tabs.tabs nav {
  padding: 0;
}
/* line 178, ../sass/home.scss */
.responsive-tabs.tabs nav ul li {
  border: none;
}
@media all and (min-width: 768px) {
  /* line 178, ../sass/home.scss */
  .responsive-tabs.tabs nav ul li {
    float: none;
  }
}
/* line 184, ../sass/home.scss */
.responsive-tabs.tabs nav ul li:last-child {
  border-right: none;
}
/* line 187, ../sass/home.scss */
.responsive-tabs.tabs nav ul li.active {
  border: none;
  background-color: #fff;
}
/* line 190, ../sass/home.scss */
.responsive-tabs.tabs nav ul li.active a {
  color: #009688;
}
/* line 194, ../sass/home.scss */
.responsive-tabs.tabs nav ul li a {
  padding: 15px;
  font-family: "blogger_sansregular";
  color: #555;
  background-color: transparent;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 208, ../sass/home.scss */
.responsive-tabs .content {
  border: none !important;
}
@media all and (max-width: 768px) {
  /* line 208, ../sass/home.scss */
  .responsive-tabs .content {
    padding: 0;
  }
}
@media all and (max-width: 768px) {
  /* line 214, ../sass/home.scss */
  .responsive-tabs .content section {
    background: transparent !important;
  }
}
/* line 218, ../sass/home.scss */
.responsive-tabs .content section .panel {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
@media all and (max-width: 768px) {
  /* line 218, ../sass/home.scss */
  .responsive-tabs .content section .panel {
    background-color: transparent !important;
  }
}
/* line 226, ../sass/home.scss */
.responsive-tabs .content section .panel .panel-heading {
  background-color: #fff;
}
@media all and (max-width: 768px) {
  /* line 226, ../sass/home.scss */
  .responsive-tabs .content section .panel .panel-heading {
    background-color: transparent !important;
  }
}
/* line 234, ../sass/home.scss */
.responsive-tabs .content section .panel .panel-heading .panel-title a {
  margin-bottom: 10px;
  font-family: "blogger_sansregular";
  color: #009688;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 242, ../sass/home.scss */
.responsive-tabs .content section .panel .panel-heading .panel-title a.collapsed {
  color: #555;
}
/* line 252, ../sass/home.scss */
.responsive-tabs .content section .panel .panel-collapse .panel-body {
  font-family: "blogger_sansregular";
  color: #555;
  border-top: none;
  line-height: 28px;
  line-height: 2.8rem;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 267, ../sass/home.scss */
.responsive-tabs.accordion h3.accordion-title a {
  padding: 15px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 278, ../sass/home.scss */
.responsive-tabs.accordion h3.accordion-title.active a {
  font-weight: normal;
  color: #009688;
}

/* line 290, ../sass/home.scss */
.home-banner {
  position: relative;
  height: 100vh;
  max-height: 500px;
  background-image: url("../../images/home_images/h_banner.jpg");
  background-position: center center;
  background-size: cover;
}
/* line 299, ../sass/home.scss */
.home-banner .title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 308, ../sass/home.scss */
.home-banner .title h2 {
  font-family: "brandon_grotesqueRgIt";
  color: #fff;
  font-size: 48px;
  font-size: 4.8rem;
}
/* line 315, ../sass/home.scss */
.home-banner .title p {
  margin-bottom: 20px;
  font-family: "blogger_sansregular";
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
}

@media all and (max-width: 768px) {
  /* line 327, ../sass/home.scss */
  .expert-row {
    background-color: #fff;
  }
}

/* line 332, ../sass/home.scss */
.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media all and (min-width: 768px) {
  /* line 332, ../sass/home.scss */
  .content-section {
    display: table;
  }
}
/* line 339, ../sass/home.scss */
.content-section .heading {
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-family: "blogger_sansmedium";
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem;
}
/* line 348, ../sass/home.scss */
.content-section .heading .border-inner-bottom {
  width: 80px;
}
/* line 352, ../sass/home.scss */
.content-section .cat-wrap {
  padding-top: 30px;
}
/* line 354, ../sass/home.scss */
.content-section .cat-wrap .categories-box {
  display: inline-block;
  width: 18%;
  margin-right: 10px;
  margin-bottom: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 479px) {
  /* line 354, ../sass/home.scss */
  .content-section .cat-wrap .categories-box {
    width: 48%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 354, ../sass/home.scss */
  .content-section .cat-wrap .categories-box {
    width: 28%;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 354, ../sass/home.scss */
  .content-section .cat-wrap .categories-box {
    width: 22%;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  /* line 354, ../sass/home.scss */
  .content-section .cat-wrap .categories-box {
    width: 30%;
  }
}
/* line 377, ../sass/home.scss */
.content-section .cat-wrap .categories-box:hover svg,
.content-section .cat-wrap .categories-box:hover h4, .content-section .cat-wrap .categories-box:focus svg,
.content-section .cat-wrap .categories-box:focus h4, .content-section .cat-wrap .categories-box:active svg,
.content-section .cat-wrap .categories-box:active h4 {
  color: #009688;
}
/* line 382, ../sass/home.scss */
.content-section .cat-wrap .categories-box svg {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  color: #555;
}
/* line 389, ../sass/home.scss */
.content-section .cat-wrap .categories-box .img-box {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 401, ../sass/home.scss */
.content-section .cat-wrap .categories-box .img-box .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 404, ../sass/home.scss */
.content-section .cat-wrap .categories-box .img-box img {
  height: 100%;
}
/* line 408, ../sass/home.scss */
.content-section .cat-wrap .categories-box h4 {
  font-family: "blogger_sansmedium";
  text-transform: uppercase;
  color: #555;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 419, ../sass/home.scss */
.content-section .work-categories {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 422, ../sass/home.scss */
.content-section .work-categories .box {
  margin-bottom: 20px;
}
/* line 424, ../sass/home.scss */
.content-section .work-categories .box svg {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
/* line 429, ../sass/home.scss */
.content-section .work-categories .box h4 {
  margin-bottom: 20px;
  font-family: "blogger_sansmedium";
  text-transform: uppercase;
  color: #555;
  font-size: 20px;
  font-size: 2rem;
}
/* line 440, ../sass/home.scss */
.content-section .work-categories .box p {
  float: none;
  margin: 0 auto;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 452, ../sass/home.scss */
.content-section .left-content {
  margin-bottom: 20px;
  text-align: left;
}
@media all and (min-width: 768px) {
  /* line 452, ../sass/home.scss */
  .content-section .left-content {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
/* line 463, ../sass/home.scss */
.content-section .left-content h2 {
  margin-bottom: 20px;
  font-family: "blogger_sansbold";
  text-transform: uppercase;
  color: #111;
}
/* line 472, ../sass/home.scss */
.content-section .left-content p {
  margin-bottom: 20px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 481, ../sass/home.scss */
.content-section .left-content a {
  padding-left: 0;
}
@media all and (min-width: 768px) {
  /* line 481, ../sass/home.scss */
  .content-section .left-content a {
    display: inline-block;
    padding: 0;
    padding-right: 15px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  /* line 481, ../sass/home.scss */
  .content-section .left-content a {
    width: auto;
  }
}
@media all and (min-width: 992px) {
  /* line 481, ../sass/home.scss */
  .content-section .left-content a {
    width: auto;
  }
}
@media all and (min-width: 768px) {
  /* line 497, ../sass/home.scss */
  .content-section .right-img-section {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
/* line 504, ../sass/home.scss */
.content-section .right-img-section img {
  margin: 0 auto;
}
/* line 508, ../sass/home.scss */
.content-section .experts-section {
  padding-top: 20px;
}
/* line 511, ../sass/home.scss */
.content-section .experts-section .expert-info {
  display: table;
  margin-bottom: 50px;
}
/* line 514, ../sass/home.scss */
.content-section .experts-section .expert-info .image-icon {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
/* line 519, ../sass/home.scss */
.content-section .experts-section .expert-info .image-icon svg {
  width: 80px;
  height: 80px;
}
/* line 524, ../sass/home.scss */
.content-section .experts-section .expert-info .content {
  display: table-cell;
  float: none;
  text-align: left;
  vertical-align: middle;
}
/* line 530, ../sass/home.scss */
.content-section .experts-section .expert-info .content h4 {
  margin-bottom: 10px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 539, ../sass/home.scss */
.content-section .experts-section .expert-info .content p {
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 553, ../sass/home.scss */
.home-slider .owl-carousel .owl-item {
  max-height: 550px;
}
/* line 555, ../sass/home.scss */
.home-slider .owl-carousel .owl-item .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 558, ../sass/home.scss */
.home-slider .owl-carousel .owl-item blockquote {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  color: #fff;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  font-size: 3rem;
}
/* line 571, ../sass/home.scss */
.home-slider .owl-carousel .owl-item blockquote p {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "blogger_sansregular";
  quotes: "“" "”" "‘" "’";
  color: #fff;
  font-size: 30px;
  font-size: 3rem;
}
/* line 583, ../sass/home.scss */
.home-slider .owl-carousel .owl-item blockquote p:before {
  content: open-quote;
}
/* line 586, ../sass/home.scss */
.home-slider .owl-carousel .owl-item blockquote p:after {
  content: close-quote;
}
/* line 590, ../sass/home.scss */
.home-slider .owl-carousel .owl-item blockquote .author {
  font-family: "blogger_sansregular";
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 599, ../sass/home.scss */
.home-slider .owl-carousel .owl-controls {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: 0;
  text-align: center;
}
/* line 610, ../sass/home.scss */
.home-slider .owl-carousel .owl-controls .owl-page.active span {
  background: #fff;
}
/* line 614, ../sass/home.scss */
.home-slider .owl-carousel .owl-controls .owl-page span {
  border: 2px solid #fff;
  background: transparent;
}

/* line 624, ../sass/home.scss */
.search-box {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
/* line 629, ../sass/home.scss */
.search-box #tipue_drop_input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-family: "blogger_sansregular";
  color: #555;
  font-size: 18px;
  font-size: 1.8rem;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 641, ../sass/home.scss */
.search-box #tipue_drop_content {
  width: 100%;
  margin: 0;
  margin-top: -2px;
}
/* line 645, ../sass/home.scss */
.search-box #tipue_drop_content .tipue_drop_box {
  box-shadow: 0 2px 4px 1px rgba(139, 147, 148, 0.3);
}
/* line 647, ../sass/home.scss */
.search-box #tipue_drop_content .tipue_drop_box:after, .search-box #tipue_drop_content .tipue_drop_box:before {
  border: 1px solid #dcdcdc;
}
/* line 652, ../sass/home.scss */
.search-box #tipue_drop_content .tipue_drop_box .tipue_drop_item .tipue_drop_right {
  width: 100% !important;
  font-family: "blogger_sansregular";
  text-align: left;
  color: #009688;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 664, ../sass/home.scss */
.search-box #tipue_drop_content .tipue_drop_box .tipue_drop_item .tipue_drop_left .tipue_drop_image {
  width: 70px;
  height: 70px;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../../sass/home_footer.scss */
.home-footer {
  padding: 20px;
  background-color: #222;
}
/* line 5, ../../sass/home_footer.scss */
.home-footer .foot-content {
  margin-bottom: 20px;
}
/* line 7, ../../sass/home_footer.scss */
.home-footer .foot-content .heading {
  padding-top: 10px;
  color: #fff;
}
/* line 11, ../../sass/home_footer.scss */
.home-footer .foot-content .heading .border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ffc400;
}
/* line 23, ../../sass/home_footer.scss */
.home-footer .foot-content ul li {
  float: left;
  min-width: 50%;
  margin-bottom: 10px;
}
/* line 27, ../../sass/home_footer.scss */
.home-footer .foot-content ul li a {
  font-family: "blogger_sansregular";
  opacity: .7;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 34, ../../sass/home_footer.scss */
.home-footer .foot-content ul li a:hover {
  opacity: 1;
}
/* line 40, ../../sass/home_footer.scss */
.home-footer .foot-content .newsletter {
  position: relative;
  margin-bottom: 20px;
}
/* line 44, ../../sass/home_footer.scss */
.home-footer .foot-content .newsletter input[type="text"] {
  font-family: "blogger_sansregular";
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #595959;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 54, ../../sass/home_footer.scss */
.home-footer .foot-content .newsletter .arrow {
  position: absolute;
  top: 7px;
  right: 10px;
}
/* line 58, ../../sass/home_footer.scss */
.home-footer .foot-content .newsletter .arrow i {
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
}
/* line 65, ../../sass/home_footer.scss */
.home-footer .foot-content .socials {
  display: table;
  margin-left: -12px;
  border-spacing: 12px;
  border-collapse: separate;
}
/* line 71, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a {
  position: relative;
  display: table-cell;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: transparent;
  font-size: 16px;
  font-size: 1.6rem;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 87, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:hover {
  border-radius: 50%;
}
/* line 91, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(1) {
  color: #fff;
  background: #3b5998;
}
/* line 95, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(1):hover {
  color: #3b5998;
  background: #fff;
}
/* line 100, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(2) {
  color: #fff;
  background: #00a0d1;
}
/* line 104, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(2):hover {
  color: #00a0d1;
  background: #fff;
}
/* line 109, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(3) {
  color: #fff;
  background: #db4a39;
}
/* line 113, ../../sass/home_footer.scss */
.home-footer .foot-content .socials a:nth-child(3):hover {
  color: #db4a39;
  background: #fff;
}
/* line 120, ../../sass/home_footer.scss */
.home-footer .foot-content.bottom ul {
  padding: 20px 0 10px 0;
  border-top: 1px solid #555;
}
/* line 124, ../../sass/home_footer.scss */
.home-footer .foot-content.bottom ul li {
  display: inline-block;
  float: none;
  min-width: 0;
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  /* line 124, ../../sass/home_footer.scss */
  .home-footer .foot-content.bottom ul li {
    margin-bottom: 10px;
  }
}
/* line 133, ../../sass/home_footer.scss */
.home-footer .foot-content.bottom ul li a {
  padding: 10px;
}

/* line 141, ../../sass/home_footer.scss */
.copyrights {
  padding: 20px 15px;
  font-family: "blogger_sansregular";
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-size: 1.4rem;
}
