

// **************************************************
// Laundry page style
// **************************************************

.laundry-wrapper {
    & > .overlay {
        max-height: 70vh;
    }
    .top-banner {
        position: relative;

        width: 100%;
        height: 70vh;
        padding-top: 60px;
        // background-image: url("../../images/laundry_images/laundry.jpg");

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include medmx(767px) {
            height: 400px;
        }
        .container {
            position: absolute;
            top: 50%;
            left: 50%;

            margin: 30px auto;

            @include transform(translate(-50%, -50%));
            @include medmx(767px) {
                width: 100%;
            }
        }
        &.house-cleaning-bg {
            .container {
                top: 50%;

                @include transform(translate(-50%, -50%));
            }
        }
        .gradient-white {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .divider {
            @include medmx(767px) {
                margin-bottom: 20px;

                text-align: center;
            }
            .tilted-bar {
                display: inline-block;
                width: 3px;
                height: 120px;
                margin: 0 30px;

                background-color: $white;

                @include transform(rotate(30deg));
                @include medmx(767px) {
                    width: 20%;
                    height: 2px;

                    transform: rotate(0);
                }
            }
        }
        .title {
            // margin-bottom: 60px;
            @include medmx(767px) {
                margin-bottom: 20px;

                text-align: center;
            }
            &.text-right {
                @include medmx(767px) {
                    text-align: center;
                }
            }

            h1 {
                &.l-right-title {
                    position: relative;

                    margin-bottom: 10px;

                    text-transform: uppercase;

                    color: $white;

                    @include medmx(767px) {
                        @include rem(font-size, 40px);
                    }
                    @include medmxn(768px, 991px) {
                        @include rem(font-size, 50px);
                    }
                    @include medmxn(992px, 1199px) {
                        @include rem(font-size, 56px);
                    }
                    @include rem(font-size, 70px);
                }
                &.l-left-title {
                    font-family: $bebasneue_R;

                    color: $white;

                    @include medmx(767px) {
                        @include rem(font-size, 30px);
                    }
                    @include medmxn(768px, 991px) {
                        @include rem(font-size, 48px);
                    }
                    @include medmxn(992px, 1199px) {
                        @include rem(font-size, 46px);
                    }
                    @include rem(font-size, 60px);
                }
            }
            .yellow-btn {
                float: right;
                height: 35px;
                max-width: 100px;
                min-width: 80px;

                @include medmx(767px) {
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                @include rem(font-size, 16px);
            }
            p {
                height: 30px;
                clear: both;
                // color: $white;

                @include rem(font-size, 14px);
            }
        }
    }
    .facilities {
        position: relative;

        background-image: url("../../images/laundry_images/laundry_blurred.jpg");
        background-position: center center;
        &.applinces-blur-bg {
            background-image: url("../../images/categories/Appliances_blur_result.jpg");
        }
        &.beauty-blur-bg {
            background-image: url("../../images/categories/Beauty_blur_result.jpg");
        }
        &.carpentry-blur-bg {
            background-image: url("../../images/categories/Carpentry_blur_result.jpg");
        }
        &.electrician-blur-bg {
            background-image: url("../../images/categories/Electrician_blur_result.jpg");
        }
        &.fitness-blur-bg {
            background-image: url("../../images/categories/Fitness_blur_result.jpg");
        }
        &.house-cleaning-blur-bg {
            background-image: url("../../images/categories/HouseCleaning_blur_result.jpg");
        }
        &.laptop-blur-bg {
            background-image: url("../../images/categories/LaptopRepair_blur_result.jpg");
        }
        &.laundry-blur-bg {
            background-image: url("../../images/categories/Laundry_blur_result.jpg");
        }
        &.mobile-blur-bg {
            background-image: url("../../images/categories/MobileRepair_blur_result.jpg");
        }
        &.painting-blur-bg {
            background-image: url("../../images/categories/Painting_blur_result.jpg");
        }
        &.pest-control-blur-bg {
            background-image: url("../../images/categories/PestControl_blur_result.jpg");
        }
        &.plumbing-blur-bg {
            background-image: url("../../images/categories/Plumbing_blur_result.jpg");
        }
        .overlay {
            background-color: rgba(0,0,0,.8);
        }
        .f-block {
            display: table;
            height: 200px;
            min-height: 100%;
            padding: 0;

            text-align: center;

            border-right: 1px solid #555;

            @include medmx(767px) {
                border: none;
            }
            a {
                // display: table-cell;
                display: block;
                padding: 40px 15px 30px;

                img,
                svg {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 25px;

                    color: $yellow;
                }
            }
            &:last-child {
                border-right: none;
            }
            p {
                @extend .f-cl-white;
            }
        }
    }
    .categories {
        margin-top: -300px;
        margin-bottom: 40px;
        .cat-wrap {
            padding: 0 0 10px 10px;
            .cat-block {
                position: relative;

                height: auto;
                max-height: 240px;
                overflow: hidden;

                @include medmx(767px) {
                    max-height: 115px;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    background-color: rgba(0,0,0,.4);
                }
                .title {
                    position: absolute;
                    top: 50%;

                    width: 100%;

                    font-family: $blogger_M;
                    font-style: italic;

                    text-align: center;

                    color: $white;

                    @include rem(font-size, 30px);
                    @include transform(translateY(-50%));
                }
            }
        }
    }
    .process-steps {
        padding: 30px 15px;
        margin-bottom: 40px;
        .steps {
            position: relative;

            width: 70%;
            height: 1px;
            margin: 50px auto;

            text-align: center;

            background-color: #333;
            span {
                position: absolute;
                top: -18px;

                padding: 6px 15px;
                margin: 0 auto;
                margin-left: -20px;

                font-family: $blogger_B;

                color: $medium-gray;
                border: 2px solid #ccc;
                border-radius: 50%;
                background-color: #fff;

                @include rem(font-size, 24px);
                &:first-child {
                    left: -5px;
                }
                &:last-child {
                    right: -5px;
                }
            }
        }
        .step-contents {
            .step {
                h4 {
                    margin-bottom: 10px;

                    font-family: $blogger_R;

                    text-align: center;

                    color: $dark-gray;

                    @include rem(font-size, 20px);
                }
                p {
                    font-family: $blogger_L;

                    color: $dark-gray;

                    @include rem(font-size, 16px);
                    @include rem(line-height, 22px);
                }
            }
        }
    }
}

.work-process {
    // height: 350px;
    // padding-top: 40px;
    padding-bottom: 40px;

    @extend .gray-bg;
    .heading-h2 {
        position: relative;

        padding-bottom: 10px;
        margin: 0 auto;
        margin-bottom: 40px;

        text-transform: uppercase;
        // border-bottom: 2px solid $green;

        @extend .f-cl-gray;
        .border-inner-bottom {
            position: absolute;
            right: 0;
            bottom: -10px;
            left: 0;

            width: 80px;
            height: 3px;
            margin: 0 auto;

            background-color: $green;
        }
    }
    .W-block {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }
        p {
            @include rem(font-size, 20px);
        }
    }
    .row-wrap {
        display: table-row;

        @include medmx(767px) {
            display: block;
        }
        .faq-accordian {
            display: table-cell;
            float: none;

            vertical-align: middle;

            @include medmx(767px) {
                display: block;
                padding: 0;
            }
            .panel {
                .panel-heading {
                    font-family: $blogger_R;

                    color: $dark-gray;
                    background-color: #fff;

                    @include rem(font-size, 20px);
                    a.collapsed + .arrow-icon {
                        @include transform(rotate(360deg));
                    }
                    .arrow-icon {
                        display: inline-block;
                        float: right;
                        width: 18px;
                        height: 18px;

                        @include transform(rotate(180deg));
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .panel-collapse {
                .panel-body {
                    font-family: $blogger_L;

                    color: $dark-gray;
                    background-color: #fafafa;

                    @include rem(line-height, 22px);
                    @include rem(font-size, 16px);
                }
            }
        }
        .faq-tagline {
            display: table-cell;
            float: none;

            vertical-align: middle;

            @include medmx(767px) {
                display: block;
                padding: 0;
            }
            .wrap {
                display: table-cell;

                text-align: right;
                vertical-align: middle;

                @include medmx(767px) {
                    text-align: center;
                }
                h1 {
                    margin-bottom: 15px;

                    font-family: $blogger_L;

                    text-transform: uppercase;

                    color: $dark-gray;

                    @include rem(line-height, 34px);
                    @include rem(font-size, 30px);
                    text-right: right;
                }
                button {
                    display: inline-block;
                    max-width: 130px;
                }
            }
        }
    }
}

.service-section {
    height: auto !important;
    overflow: hidden;

    text-align: center;

    background-color: $white;
    img {
        margin-bottom: 15px;
    }
    h4 {
        margin-bottom: 10px;

        font-family: $blogger_L;

        color: $dark-gray;

        @include rem(font-size, 20px);
        @include medmx(479px) {
            min-height: 25px;
            margin-bottom: 6px;
        }
    }
    p {
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;

        font-family: $blogger_L;

        color: $dark-gray;

        @include rem(font-size, 16px);
        &.price {
            font-family: $blogger_R;
        }
    }
    & > div {
        margin-bottom: 20px;

        @include medmx(479 px) {
            padding: 6px;
        }
        @include medmn(480px) {
            margin-bottom: 26px;
        }
    }
}

.book-now-band {
    padding: 15px 20px;

    text-align: center;

    background-color: #e7f1fa;
    h2 {
        margin-bottom: 10px;

        font-family: $blogger_L;
        line-height: 22px;

        color: $dark-gray;

        @include rem(font-size, 20px);
    }
    button {
        max-width: 130px;
        min-width: 130px;
        margin: 0 auto;
    }
}

// testimonials custom style
.carousel-inner {
    .block-text {
        margin-bottom: 20px;

        box-shadow: none;
        p {
            margin-bottom: 10px;

            font-family: $blogger_L;
            font-style: normal;
        }
        .name {
            display: block;
            margin-bottom: 5px;

            font-family: $blogger_M;

            color: #444;

            @include rem(font-size, 22px);
        }
        p.helper-text {
            font-family: $blogger_R;

            color: $green;

            @include rem(font-size, 16px);
        }
        .arrow-down {
            position: absolute;
            bottom: -15px;

            border-top-color: $body-bg-color;
        }
    }
    .person-text {
        width: 80px;
        height: 80px;
        padding: 0;
        overflow: hidden;

        @include border-radius(50%);
    }
}
.carousel-control {
    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }
}

.testimonials {
    .carousel-inner {
        .owl-controls {
            @include medmn(768px) {
                display: none !important;
            }
        }
    }
}
// **************************************************
// End
// **************************************************
